*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Light Theme */
.light {
  --bg-color: #edf3f8;
  --text-color: #2e312f;
  --stack-color: #f3f3f3;
  --border-color: #565f5734;
  --responsive-nav-color: #ece7d8;
  --responsive-nav-bg: #010204;
  --loader: #f3f3f3;
}

/* Dark Theme */
.dark {
  --bg-color: #010204;
  --text-color: #ece7d8;
  --stack-color: #080a0e;
  --border-color: rgba(255, 255, 255, 0.137);
  --responsive-nav-color: #2e312f;
  --responsive-nav-bg: #f2f5f0;
  --loader: #080A0E;
}

main {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tox-statusbar{
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}